<div class="row main-register">
  <article class="col-md-12 text-center">
    <span>Register</span>
    <p>Please enter your correct email and postal address as it will be used for all notifications and awards/ catalogues delivery.
      All the information must be written in English. Otherwise FIAP and PSA will not accept it.</p>
  </article>
  <div class="col-md-6">
    <div class="form-group block-part">
      <span>Account</span>
      <input type="text" class="form-control" placeholder="E-mail" />
      <input type="text" class="form-control" placeholder="Password" />
    </div>
    <div class="form-group block-part">
      <span>Personal Info</span>
      <input type="text" class="form-control" placeholder="First Name" />
      <input type="text" class="form-control" placeholder="Last Name" />
      <input type="text" class="form-control" placeholder="FIAP/PSA distinction" />
      <input type="text" class="form-control" placeholder="Club" />
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group block-part">
      <span>Delivery info</span>
      <input type="text" class="form-control" placeholder="Country" />
      <input type="text" class="form-control" placeholder="City" />
      <input type="text" class="form-control" placeholder="Full address" />
      <input type="text" class="form-control" placeholder="ZIP code" />
      <div>
        <label class="container">
          <small>I hereby expressly agree to the FIAP document 2014/317 E
            <span>«Conditons for application and regulations for organization of international photographic events»</span> and
            especially to its chapter II «Regulations for International photographic events under FIAP patronage » dealing
            under Section II.2 with the FIAP participation rules and the red list.</small>
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>

      </div>
      <label class="container">
        <small>I agree with
          <span>salon rules</span>
        </small>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

    </div>
  </div>
  <div class="btn-wrap">
    <button class="btn btn-primary">Register</button>
  </div>


</div>
