article {
  margin: 35px 0;
}

article span {
  font-family: 'Oswald';
  font-size: 2em;
  text-transform: uppercase;
}

article p {
  font-family: 'Roboto-Light';
  font-size: 12px;
  width: 60%;
  margin: 80px auto 0 auto;
}

input[type="text"] {
  width: 70%;
  margin: 20px 0;
  opacity: 0.6;
}

small {
  font-family: 'Roboto-Light';
  font-weight: bold;
  font-size: 12px;
}

small span {
  color: #1098f7;
}

.block-part > span{
    font-family: 'Roboto';
    font-size: 24px;
    text-transform: uppercase;
}
.btn-wrap{
    margin: 40px 0 90px 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-transform: uppercase;
}
button{
    width: 35%;
    border-radius: 0;
    background: #1098f7;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #1098f7;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
