footer{
    width: 100%;
    margin-top: 80px;
}
section div{
    color:#fff;
    display: flex;
}
.not-login{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    height: 100px;
    text-transform: uppercase;

}
.not-login span{
    color:#000;
}
section div ~ div{
    display: flex;
    flex-flow: column; 
    font-family: 'Roboto';
    font-size: 1em;
}
section div:not(:first-child){
    margin-left: 65px;
}
section div > span:last-child{
    font-family: 'Roboto-Light';
}
.line{
    height: 4px;
    background: #1098f7;
}
#l1{
    width: 10%;
}
#l2{
    width: 3%;
}
#l3{
    width: 3%;
}