<section>
  <div *ngIf="router.url == '/'">
    <div>
      <div class="line" id="l1"></div>
      <span>Lights</span>
      <span>John Doe, PSA-2016 winner</span>
    </div>
    <div>
      <div class="line" id="l2"></div>
      <span>Horse Roundup 110</span>
      <span>Dany Chan, PSA ribben</span>
    </div>
    <div>
      <div class="line" id="l3"></div>
      <span>Fall</span>
      <span>Bred Doe, PSA-2015 winner</span>
    </div>
  </div>
</section>
<footer>
  <div class="not-login" *ngIf="router.url != '/'">
    <span>@Ukrainian photo awards 2016</span>
    <img src="../../../assets/register-sprite.jpg" alt="">
  </div>

</footer>
