<header>
  <div class="nav-logo"><span routerLink="/">ukrainian photo awards</span></div>
  <div class="nav-anchors">
    <a>Rules</a>
    <a>Status List</a>
    <a>Results</a>
    <a>Contacts</a>
    <a id="sign-in" (click)="openModal = !openModal">Login</a>
    <a href=""><img src="../../../assets/eng.jpg" alt=""></a>
  </div>
  <div class="login-modal" *ngIf="openModal">
      <form>
              <input class="form-control "type="text" required placeholder="Login"/>
              <input class="form-control "type="text" required placeholder="Password"/>
              <button type="submit" class="btn btn-primary" routerLink="/profile/info">Enter</button>
              <small>Forgot password?</small>
      </form>
      <div class="register">
        <span>Don't have an account?</span>
        <a routerLink="/signup" (click)="openModal = !openModal">Register</a>
      </div>
  </div>
</header>
