header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21.5px;
    margin: auto;
    position: relative;
}
.nav-logo{
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 1.5em;
    outline: none;
    cursor: pointer;
}
.nav-logo span:focus{
    outline: none;
}
.nav-anchors{
    font-family: 'Roboto-Light';
    text-transform: uppercase;
}
.nav-anchors a{
    margin: 10px;
}
.nav-anchors a:not(:last-child){
    opacity: 0.5;
}
.nav-anchors a:hover{
    opacity: 1;
    cursor: pointer;
}
#sign-in{
    opacity: 1;
    padding: 30px;
    background: #1098f7;
    color:#fff;
}
#sign-in:hover{
    background:#1091ea;
}
.login-modal{
    position: absolute;
    right: 0;
    top: 140%;
    max-width: 380px; 
    width: 100%;
    height: 330px;
    background: #fff;
    z-index: 1;
}
.login-modal::before{
    position: absolute;
    right: 28%;
    bottom:100%;
    content: "";
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-bottom: 30px solid #fff;
    width: 0;
    height: 0;
}
form{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}
form button{
    width: 100%;
    background: #1091ea;
}
form input{
    margin-bottom: 20px;
    border-radius: 0;
    opacity: 0.6;
}
form small{
    float: right;
    opacity: 0.5;
}
.register{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 55px;
}
.register span{
    display: block;
}
.register a{
    color:#1098f7;
    cursor: pointer;
}