<div class="row">
  <div class="col-md-5 wrap">
    <div class="info">
      <span>Personal Info</span>
      <p>First Name:
        <span>{{user.name}}</span>
      </p>
      <p>Last Name:
        <span>{{user.lastname}}</span>
      </p>
      <p>FIAP/PSA distinction:
        <span>{{user.fiap_psa}}</span>
      </p>
      <p>Club:
        <span>{{user.club}}</span>
      </p>
    </div>
  </div>
  <div class="col-md-5 wrap">
    <div class="delivery">
      <span>Delivery Info</span>
      <p>Country:
        <span>{{delivery.country}}</span>
      </p>
      <p>City:
        <span>{{delivery.city}}</span>
      </p>
      <p>Full address:
        <span>{{delivery.address}}</span>
      </p>
      <p>ZIP CODE:
        <span>{{delivery.zip}}</span>
      </p>
    </div>
  </div>
  <div class="col-md-2 wrap">
    <div class="settings">
      <span>Settings</span>
      <p><a href="/">Change password</a></p>
      <p><a href="/">Change e-mail</a></p>
      <p><a href="/">Edit info</a></p>
      <p><a href="/">Sign out</a></p>
    </div>
  </div>
</div>
