
.wrap div > span{
    font-family: 'Roboto';
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;
    margin: 70px 0 20px 0;
}
.settings a{
    display: block;
}
.info p, .delivery p{
    font-family: 'Roboto';
    font-weight: bold;
}
.info p > span, .delivery p > span{
    font-family: 'Roboto-Light';
    font-weight: initial;
}
