<div class="row">
  <div class="col-md-3">
    <input class="form-control" type="text" placeholder="Search by name..."/>
  </div>
</div>
<div class="row">
  <div class="col-md-6 block">
    <img src="../../../assets/upa.jpg" alt="">
    <p>Ukrainian photo awards</p>
  </div>
  <div class="col-md-6 block">
      <img src="../../../assets/pps.jpg" alt="">
      <p>Palanga photo salon</p>
  </div>
  <div class="row">
    <div class="col-md-12 block">
        <img src="../../../assets/bls.jpg" alt="">
        <p>Beautiful life salon</p>
    </div>
  </div>
</div>