.row:first-of-type{
    justify-content: flex-end;
    margin: 80px 0 20px 0;
}
input{
    border-radius: 0;
    opacity: 0.7;
}
.row{
    margin: 0;
}
.block img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.block{
    margin-top: 30px;
    height: 25vh;
    position: relative;
}
.block p{
    position: absolute;
    top: 15%;
    color: #fff;
    left: 10%;
    font-family: 'Roboto';
    font-size: 2.5em;
    text-transform: uppercase;
    width: 15%;
}
.block:last-of-type p{
    left:5%;
}
