h1{
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 4.5em;
    color:#fff;
}
.logo{
    height: 700px;
    display: flex;
    align-items: center;
}
.bg{
    background-image: url("../../../assets/background.jpg");
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    height: 100vh;
    z-index: -1;
}