<div class="row">
  <div class="col-md-12 text-center head">
    <span>profile</span>
  </div>
</div>
  <section class="row">
    <div class="col-md-3 text-center tab" [ngClass]="{'active': url=='/profile/info'}" routerLink="info" >personal info</div>
    <div class="col-md-3 text-center tab" [ngClass]="{'active': url=='/profile/current-salons'}" routerLink="current-salons" >current salons</div>
    <div class="col-md-3 text-center tab" [ngClass]="{'active': url=='/profile/past-salons'}" routerLink="past-salons" >past salons</div>
    <div class="col-md-3 text-center tab" [ngClass]="{'active': url=='/profile/my-images'}" routerLink="my-images" >my images</div>
  </section>
  <router-outlet></router-outlet>
