.head {
  margin: 100px 0;
  font-family: 'Oswald';
  font-size: 2.5em;
  text-transform: uppercase;
}

.tab {
  text-transform: uppercase;
  font-family: 'Roboto-Light';
  padding: 10px 20px;
  color:gray;
}

.tab:hover {
  cursor: pointer;
}

.tab:focus {
  outline: none;
  background: #333333;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.active {
  background: #333333;
  color: #fff;
  cursor: pointer;
  outline: none;
}
