/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: Roboto-Light;
    src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face{
    font-family: Roboto;
    src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face{
    font-family: Oswald;
    src: url("./assets/fonts/Oswald/Oswald-Regular.ttf");
}
app-register{
    background: #fff;
    height: 100vh;
    width: 100vw;
}