.title div{
    margin: 80px auto;
}
select{
    border:0;
    outline: none;
    box-shadow: 0;
}
.select:active{
    color:#1098f7;
}
div img{
    width: 100%;
    object-fit: cover;
}
div p{
    padding: 10px;
}
.photo-container{
    margin-top: 20px;
}