<div class="row title">
  <div class="col-md-8">
    <small>This is your personal gallery of images that you uploaded before in previous salons. If you like to participate in the
      coming salon with the same images you do not need to upload them once again and you can simply choose them from the
      gallery.
    </small>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <select class="form-control">
      <option>Salon</option>
      <option>Ukrainian photo awards</option>
      <option>Palanga photo salon</option>
      <option>Beautiful life salon</option>
    </select>
  </div>
  <div class="col-md-2">
    <select class="form-control">
      <option>Section</option>
      <option>Ukrainian photo awards</option>
      <option>Palanga photo salon</option>
      <option>Beautiful life salon</option>
    </select>
  </div>
  <div class="col-md-2">
    <select class="form-control">
      <option>Date</option>
      <option>Ukrainian photo awards</option>
      <option>Palanga photo salon</option>
      <option>Beautiful life salon</option>
    </select>
  </div>
  <div class="col-md-3 offset-md-3">
      <input type="text" class="form-control" placeholder="Search by name..."/>
    </div>
</div>
<div class="container photo-container">
    <div class="row">
        <div class="col-md-4">
          <img src="../../../assets/pps.jpg" alt="">
          <p>Li Wang/China (PSA Gold medal)</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/pps.jpg" alt="">
          <p>Li Wang/China (PSA Gold medal)</p>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/pps.jpg" alt="">
          <p>Li Wang/China (PSA Gold medal)</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <img src="../../../assets/bls.jpg" alt="">
            <p>Li Wang/China (PSA Gold medal)</p>
          </div>
          <div class="col-md-4">
            <img src="../../../assets/bls.jpg" alt="">
            <p>Li Wang/China (PSA Gold medal)</p>
          </div>
          <div class="col-md-4">
            <img src="../../../assets/bls.jpg" alt="">
            <p>Li Wang/China (PSA Gold medal)</p>
          </div>
        </div>
      
</div>
