<div class="row salons" *ngFor="let salon of salons">
  <div class="col-md-6 image">
    <img src="{{salon.image}}" alt="">
  </div>
  <div class="col-md-6 content">
    <p>{{salon.name}}</p>
    <p>Date: <span>{{salon.name}}</span></p>
    <p>Participation: <span>{{salon.participation}}</span></p>
    <p>Participation payment: <span>{{salon.payment}}</span></p>
    <button *ngIf="salon.payment == 'paid'" class="btn btn-primary">See images</button>
    <button *ngIf="salon.payment == 'Not paid'"class="btn btn-primary">Participate</button>
  </div>
</div>