.salons:first-child{
    margin-top: 70px;
}
.salons p{
    font-family: 'Roboto';   
}
.salons p:first-child{
    text-transform: uppercase;
    font-size: 1.5em;
}
.salons p span{
    font-family: 'Roboto-Light';
}
.image img{
    object-fit: cover;
    width: inherit;
    height: 80%;
}
button{
    border-radius: 0;
    margin-top: 40px;
    padding: 10px 40px;
}